{{#each this}}
<li class="item">
    <div class="img__thumb">
        <img class="movie-picture" src="{{picture}}" alt="{{title}}">
    </div>
    <h2 class="movie__title">{{title}}</h2>
    <p><b>Year:</b> {{year}}</p>
    <p><b>Director:</b> {{director}}</p>
    <p><b>Rating:</b> {{rating}}</p>

</li>

{{/each}}